<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MapQuest.ImageLoader.Default</key>
	<string>blank22</string>
	<key>MapQuest.Map.Annotation.GreenPinImage_DOWN</key>
	<string>icn_poi_down_green</string>
	<key>MapQuest.Map.Annotation.GreenPinImage_UP</key>
	<string>icn_poi_up_green</string>
	<key>MapQuest.Map.Annotation.PinShadowImage</key>
	<string>icn_poi_shadow</string>
	<key>MapQuest.Map.Annotation.PurplePinImage_DOWN</key>
	<string>icn_poi_down_purple</string>
	<key>MapQuest.Map.Annotation.PurplePinImage_UP</key>
	<string>icn_poi_up_purple</string>
	<key>MapQuest.Map.Annotation.RedPinImage_DOWN</key>
	<string>icn_poi_down_red</string>
	<key>MapQuest.Map.Annotation.RedPinImage_UP</key>
	<string>icn_poi_up_red</string>
	<key>MapQuest.Map.Annotation.UserLocation</key>
	<string>icn_position_blue</string>
	<key>MapQuest.Map.Geocode.Navteq</key>
	<string>http://www.mapquestapi.com/geocoding/v1/reverse</string>
	<key>MapQuest.Map.Geocode.URL</key>
	<string>http://www.mapquestapi.com/geocoding/v1/reverse</string>
	<key>MapQuest.Map.Geocode.URL.Open</key>
	<string>http://open.mapquestapi.com/nominatim/v0/reverse</string>
	<key>MapQuest.Map.Logo</key>
	<string>mqlogo</string>
	<key>MapQuest.Map.Logo.Navteq</key>
	<string>navteqlogo</string>
	<key>MapQuest.Map.Logo.OSM</key>
	<string>osmlogo</string>
	<key>MapQuest.Map.Route.URL</key>
	<string>http://www.mapquestapi.com/directions/v1</string>
	<key>MapQuest.Map.Route.URL.Navteq</key>
	<string>http://www.mapquestapi.com/directions/v1</string>
	<key>MapQuest.Map.Route.URL.Open</key>
	<string>http://open.mapquestapi.com/directions/v0</string>
	<key>MapQuest.Map.ShowAlerts</key>
	<string>YES</string>
	<key>MapQuest.Map.TileProvider</key>
	<string>MQ</string>
	<key>MapQuest.Map.TileProvider.Open</key>
	<string>MQOSM</string>
	<key>MapQuest.Map.Traffic.Camera</key>
	<string>icn_trafficcam</string>
	<key>MapQuest.Map.Traffic.Construction1</key>
	<string>icn_construction_yellow</string>
	<key>MapQuest.Map.Traffic.Construction2</key>
	<string>icn_construction_orange</string>
	<key>MapQuest.Map.Traffic.Construction3</key>
	<string>icn_construction_red</string>
	<key>MapQuest.Map.Traffic.Incident1</key>
	<string>icn_traffic_yellow</string>
	<key>MapQuest.Map.Traffic.Incident2</key>
	<string>icn_traffic_orange</string>
	<key>MapQuest.Map.Traffic.Incident3</key>
	<string>icn_traffic_red</string>
	<key>MapQuest.Map.Traffic.Market</key>
	<string>icn_stoplight</string>
	<key>MapQuest.Map.Traffic.URL</key>
	<string>http://traffic.tt.mapquest.com/traffic/v1</string>
	<key>MapQuest.Map.Traffic.URL.Navteq</key>
	<string>http://traffic.web.mapquest.com/traffic/v1</string>
	<key>MapQuest.SDK.Version</key>
	<string>1.1</string>
</dict>
</plist>
